.dashboard {
	display: grid;
	grid-template-areas:
		"welcome finance finance"
		"tasks transactions transactions";
}
.welcome-panel {
	grid-area: welcome;
}
.pending-transactions {
	grid-area: transactions;
}
.finance-summary {
	grid-area: finance;
}
.pending-tasks {
	grid-area: tasks;
}
@media (max-width: 480px) {
	.dashboard {
		width: 100%;
		grid-template-areas: "welcome" "transactions" "tasks" "finance";
	}
}

.info-panel {
	border: 2px solid #444;
	border-radius: 5px;
	margin: 5px;
	background-color: #222;
	overflow-x: auto;

	.info-panel-title {
		font-size: 1.25em;
		font-weight: bold;
		border-bottom: 2px solid #444;
		text-align: center;
		padding: 10px 0;
	}
	.info-panel-body {
		padding: 10px;

		.finance-summary-table {
			display: grid;
			grid-template-columns: 150px 1fr 1fr 1fr;
			gap: 0;
			margin-top: 20px;

			div,
			p {
				padding: 5px;
				outline: 1px solid #444;
				text-align: center;
			}

			.table-row-header,
			.table-col-header {
				font-weight: bold;
			}
		}
	}
}
