.inventory-display {
    display: flex;          /* This puts container and panel side-by-side */
    flex-direction: row;
    gap: 0;
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
}

.item-display-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow: hidden;
    gap: 0;
}

.item-display {
    flex-grow: 1;           /* Fills space between top and pagination */
    overflow-y: auto;       /* Enables scrolling for items only */
    gap: 0;
}

.item-header, .item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.item-header {
    background-color: #44B78B;
    color: #222;
    font-weight: bold;
}

.item {
    background-color: #444;
}
.item:hover {
    background-color: #333;
    cursor: pointer;
}
.col-name {
    color: #348b69;
}
.item:hover .col-name {
    color: #44B78B;
}

.item-detail-panel {
    border-left: solid 1px #333;
    width: 25%;
    min-width: 300px;
    overflow-y: auto;
    padding: 10px;
}

.detail-actions {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

@media (max-width: 800px) {
    .item-detail-panel {
        min-width: 250px;
    }
}
@media (max-width: 600px) {
    .item-detail-panel {
        display: none;
    }
}