/* General Navbar Styling */
.navbar {
	display: flex;
	align-items: center;
	background-color: #333;
	color: white;
	position: relative;
	padding: 10px;
	height: 60px;
	z-index: 1000;

	.nav-left {
		flex: 1;
		text-align: left;
		display: flex;
		justify-content: flex-start;
		position: relative;
		gap: 10px;

		.dropdown-content {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			background-color: #444;
			min-width: 200px;
			box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
			z-index: 1000;
			border-radius: 4px;
			margin-top: 5px;

			a {
				color: whitesmoke !important;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
				.link-disabled {
					pointer-events: none;
					cursor: default;
					color: gray !important;
					text-decoration: none;
				}
			}

			a:hover {
				background-color: #555;
				color: #44b78b !important;
			}
		}

		.show {
			display: block;
		}
	}

	.nav-center {
		flex: 2;
		text-align: center;

		.page-title {
			margin: 0;
			font-size: 1.5rem;
		}
	}

	.nav-right {
		flex: 1;
		text-align: right;
		display: flex;
		justify-content: flex-end;

		.logout {
			display: flex;
		}
	}
}
