* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Helvetica", sans-serif;
}

body {
	min-height: 100vh;
	background-color: #111;
	color: whitesmoke;
	overflow: hidden;
}
main {
	height: calc(100vh - 60px);
	overflow-y: auto;
}

section {
	display: flex;
	flex-flow: column;
}
a {
	color: #44b78b;
	text-decoration: none;
}

.actions-bar {
	position: sticky;
	bottom: 5px;
	width: 100%;
	overflow-x: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	column-gap: 10px;
	flex-wrap: nowrap;
	align-items: center;
	height: 40px;
	margin-top: 30px;
	padding: 0px 5px;
}
.action {
	height: 100%;
	padding: 10px 15px;
	border-radius: 4px;
	text-wrap: nowrap;
	border: none;
}

/* #region Buttons */
.btn {
	cursor: pointer;
	border: none;
	border-radius: 4px;
	padding: 10px 15px;
}

.btn:hover {
	opacity: 0.85;
}

.btn-jade {
	background-color: #44b78b;
	color: black;
}

.btn-edit {
	background-color: #daa520;
	color: #633a04;
}
.btn-authorize {
	background-color: #006b1b;
	color: #76e640;
}
.btn-reject {
	background-color: #555555;
	color: #252525;
}
.btn-delete {
	background-color: #ba2121;
	color: #f48888;
}
/*#endregion */

/* #region Detail Pages */
.detail-body {
	padding: 10px;

	h3 {
		text-align: center;
		padding: 5px;
	}

	.detail-main,
	.detail-extra-item {
		border: 3px solid #444;
		border-radius: 5px;
		margin: 0 0 20px 0;
		gap: 0;
	}

	.detail-main {
		border-color: #266e53;
		.detail-row {
			background-color: #44b78b;
			color: #222;
			label,
			span {
				outline-color: #266e53;
			}
		}
	}
	.detail-extra-item {
		background-color: #333;
		.detail-row {
			background-color: #222;
		}
	}
}

.detail-main h3 {
	background-color: #44b78b;
	color: #222;
}
.detail-extra h3 {
	border: 3px solid #444;
	border-radius: 5px;
	background-color: #222;
	margin-bottom: 20px;
}
.detail-row {
	outline: 1px solid #444;
	padding: 5px;
	background-color: #222;

	label,
	span {
		display: block;
		padding: 5px;
	}
}
.detail-row:first-of-type {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	label {
		border-top-left-radius: 5px;
	}
	span {
		border-top-right-radius: 5px;
	}
}
.detail-row:last-of-type {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	label {
		border-bottom-left-radius: 5px;
	}
	span {
		border-bottom-right-radius: 5px;
	}
}

@media (min-width: 600px) {
	.detail-main,
	.detail-extra {
		width: clamp(300px, 600px, 50%);
	}
	.detail-row {
		display: grid;
		grid-template-columns: 150px auto;
		gap: 1px;
		padding: 0;

		label,
		span {
			outline: 1px solid #444;
		}
	}
}
/* #endregion */

/* #region Forms */
.form {
	display: flex;
	flex-direction: column;

	.main-form {
		> div {
			display: grid;
			grid-template-columns: 1fr 2fr 1fr;

			* {
				padding: 5px;
				margin: 5px 10px;
			}

			label {
				text-align: right;
				grid-column: 1 / 2;
			}
			textarea {
				resize: none;
			}
			input,
			textarea {
				grid-column: 2 / 3;
			}
			.help-text {
				grid-column: 3 / 4;
			}
		}
	}
	.sub-forms {
		display: grid;

		.grid-header,
		.item-row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 40px;
			padding: 10px;
		}

		.grid-header {
			font-weight: bold;

			div {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		.item-row {
			gap: 10px;
			align-items: center;
			outline: 1px solid #fff;

			select,
			input {
				width: 100%;
				padding: 8px;
				border: 1px solid #4c4c4c;
				border-radius: 4px;
			}

			div {
				text-align: center;
			}
		}

		.last-item-row {
			div:first-child {
				grid-area: 1 / 1 / 1 / 2;
			}

			div:last-child {
				grid-area: 1 / 6 / 1 / 7;
			}
		}
	}

	button.form-submit {
		justify-self: center;
		align-self: center;
		margin: 20px 0;
		text-align: center;
		padding: 10px;
		background-color: #222;
		border: 2px solid white;
		border-radius: 5px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
		font-weight: bold;
		color: #eee;
	}
}

/* #endregion */
